@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1280px;
  min-height: 100%;
  box-shadow:0 0 15px rgba(0, 0, 0, 0.2);

}

.button {
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: #FFFFFF;
background-color: #82B3D3;
text-transform: uppercase;
border-width: 0;
border-radius: 4px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
}

.navigation-link {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.navigation-user .navigation-link {
  max-width: 350px;
  margin-left: auto;
}

.navigation-button {
  background-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
}

.navigation-user-button {
  display: inline-block;
  margin: auto 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
.page-header-logo {
  display: block;
}

/*body*/

.hero {
  color: #000000;
  background-color: #3e75a0;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
}

.hero-container {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/*Приемущества*/
.advantages {
  text-align: center;
  background-color: #ffffff;
}

.advantages-subtitle {
  font-size: normal;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-left: 290px;
  padding-right: 290px;
}
.advantages-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-left: 275px;
  padding-right: 275px;
}
.advantages-subtitle-about {
  margin-bottom: 25px;
}

.advantages-text-about {
  margin-bottom: 90px;
}

.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  font-family: "PT Sans";
  font-style: normal;
  text-align: center;
}

.advantages-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-item-color {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-color-center {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  background-color: #82b3d3;
}
.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

/*Приезжай, услуги*/

.services-center {
  background-color: #ffffff;
}
.services-title {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 64px;
  text-transform: uppercase;
  display: flex;
  padding-left: 347.5px;
  padding-right: 347.5px;
  padding-bottom: 20px;
}

.services-description {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: flex;
  padding-left: 355.5px;
  padding-right: 355.5px;
  padding-top: 20px;
  padding-bottom: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.services-item {
  width: 230px;
  padding: 81px 85px;
  list-style-type: none;
}
.services-icon-house {
  background: rgba(131, 179, 211, 0.12);
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*заинтересовались*/

.search-hotel {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #ffffff;
  text-align: center;
}
.search-hotel-title {
  margin-bottom:54px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.search-hotel-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-left: 304px;
  padding-right: 304px;
}

.buttom-search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 50px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-style: normal;
}

/*Рассылка*/

.email {
  background-image: url("../images/subscribe-image.jpg");
  color: #ffffff;
  background-color: #3e75a0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.email-title {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.email-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}
.field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  background-color: #F2F2F2;
}

.field-inner {
  background-color: #f2f2f2;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  width: 232px;
}
/* footer*/

.page-footer {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
  align-items: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.footer-social {
  width: 170px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  min-width: 48px;
  min-height: 40px;
}

.footer-social-button {
  display: flex;
}

.vkontakte {
  padding: 13px 12px;
}

.telegram {
  padding: 13px 15px;
}

.youtube {
  padding: 12px 13px;
}

.footer-contacts {
  max-width: 350px;
}

.footer-creator-image {
  width: 115px;
  display: flex;
}

.academy-logo {
  display: block;
}

/*catalog*/

.inner-container {
  color: #ffffff;
  background-image: url("../images/hotels-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-heder-filter-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

/*хлебные крошки*/

.breadcrumbs {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.button .select-control-hotel {
  width: 48px;
  height: 48px;
}

/*параметры поиска*/

.catalog-products{
  width: 1060px;
height: 160px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-group{
  width: 150px;
  padding: 0;
  margin: 0;
  border: 0;

}

.comfort{
  margin-right: 70px;
}
.type-house{
margin-right: 140px;
}

.price{
  width: 288px;
  margin: 0;
  padding: 0;
  border: 0;

}

.price-header{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px
}

.filter-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 32px;
  width: 191px;
  height: 104px;

}
.catalog-filter-button{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width:191px;
}

.select{
  margin-top: 56px;
}

.reset{
  background-color: transparent;
}

/*сортировка*/

.catalog-hotels-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  margin:0;
  font-family: 'PT Sans';
  font-style: normal;
  text-transform: uppercase;
}

.view-filter{
  margin-left:auto;
  display:flex;
  flex-wrap: wrap;
}

.select-control{
  font-size: 18px;
  width:292px;
  border:2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: auto;
  margin-right:70px;
  padding:14px;
  padding-right:20px;
  box-sizing: border-box;
}

.view-button-filter-list{
  min-width:160px;
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  list-style-type: none;
}

.view-button-filter-item{
  width:48px;
  height: 48px;
  margin-right:8px;
  border:2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.view-button{
  padding:17px 16px;
  display:flex;
}

.view-button-filter-list {
  margin-right: 0;
}

/*карточки*/

.catalog-hotels{
  width: 1060px;
  margin: 0 auto;
}

.product-list{
  padding: 0;
  margin-top: 139px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

}

.product-card{
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto repeat(3, min-content);
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  }

.product-card-link {
  grid-column: 1/-1;
}

.product-card-image{
  object-fit: contain;
  margin-bottom:16px;

}
.product-card-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  color: #242424;
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  justify-self: end;
}

.product-card-button{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  }

.hotel-card-button{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  }

.product-card-type {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-rating{
  background: #F2F2F2;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  padding: 8px;
}

/*pagination*/
.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

text-align: center;
text-transform: uppercase;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.pagination-current{
  background-color: #F2F2F2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.email-catalog {
  color: #000000;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 96px;
  padding-bottom: 104px;
}
.email-title-catalog {
  color: #000000;
  margin-bottom: 20px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
