

@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.container{
  margin: 0 auto;
  width: 1280px;
  flex-grow: 1;
}

.button{
  font-family:"PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color:#FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 4px;
}

.page-header {
  background-color:#FFFFFF;
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-family: 'PT Sans';
  font-size:20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.navigation-user .navigation-link {
  max-width: 350px;
  margin-left: auto;
}

.navigation-button{
  background-color:#756157;
  text-decoration: none;
  padding:8px 34px;
}

.navigation-user-button{
  display:inline-block;
  margin:auto 0;
}


.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
.page-header-logo{
  display:block;
}

/*body*/

.hero {
  color: #000000;
  background-color: #3e75a0;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top:51px;
  padding-bottom:82px;
  margin-bottom:69px;
}

.hero-container{
  width:458px;
  height:352px;
  margin:0 auto;
}

.advantages {
  text-align: center;
}

.advantages-subtitle{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

}
.advantages-text{
  font-size: 22px;
  line-height: 26px;
  margin: 0;

}
.advantages-subtitle-about {
  margin-bottom: 25px;
}

.advantages-text-about{
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type:none;
  margin-bottom: 64px;
  width: 507px;
}

.advantages-item {
  width: 400px;


}
.advantages-item-images{
  width: 800px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.index-columns {
  color: #242424;
  background-color: #F2F2F2;

}

.services {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  width: 400px;
}

.services-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

.services-item{
  width:230px;
  padding:81px 85px;

}


.services-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
}

.services-description {
font-weight: 400;
font-size: 22px;
line-height: 26px;
}
.services-name {
font-weight: 700;
font-size: 24px;
line-height: 28px;
}
.services-text {
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.search-hotel {
font-family: "PT Sans", sans-serif;
text-align: center;
text-transform: uppercase;
}
.search-hotel-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
}
.search-hotel-title {
font-weight: 400;
font-size: 22px;
line-height: 26px;
}
.buttom-search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color:#756157;
  text-decoration: none;
  padding:8px 50px;
}

.email{
  color:#FFFFFF;
  background-color:#3e75a0;
  background-image: url("../images/subscribe-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top:96px;
  text-align: center;
  padding-bottom:104px;
}

.email-title{
  color:#FFFFFF;
  margin-bottom: 20px;
}

.email-text{
  font-size: 22px;
  line-height: 26px;
  margin:0;
  margin-bottom: 54px;
}
.field{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
}

.field-inner{
  background-color: #F2F2F2 ;
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
}
/* footer*/

.page-footer a {
  display:flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  margin-right: auto;
  max-width: 142px;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #000000;
}

.footer-contact{
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color:#000000;
  text-decoration: none;
  text-align: center;
}

/*catalog8*/

.inner-container{

  color:#FFFFFF;
  background-color: #3e75a0;
  background-image: url("../images/hotels-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  width:1060px;
  margin:0 auto;
}
.inner-title{
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: #FFFFFF;
}

.catalog-filter-title {
  font-family: 'PT Sans' sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
}

.control-label {
  font-weight: 700;
}
.inner-container{
  color:#FFFFFF;
  background-color: #3e75a0;
  background-image: url("../images/hotels-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.product-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

}




.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'PT Sans' sans-serif;
  font-weight: 700;
  color: #242424;
  font-size: 24px;
 line-height: 28px;
}

.product-card-price {
font-family: 'PT Sans' sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}
.product-card-type{
font-family: 'PT Sans' sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}


.pagination{
  width:1060px;
  margin:0 auto;
  background-color: #FFFFFF;
}

.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF;
  background-color: #82B3D3;
}

.pagination-current{
  color:#000000;
  background-color: #FFFFFF;
}

.pagination-item a{
  text-align: center;
  text-decoration: none;
}

.email-center{
  color:#FFFFFF;
  background-color:#3e75a0;
  background-image: url("../images/subscribe-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top:96px;
  text-align: center;
  padding-bottom:104px;
}
